body{
    background-color: beige;
     font-family: verdana; 
}

nav ul{
        margin:0;
        padding:0;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        gap:11px;
}

nav li{
       list-style: none;
       text-transform:capitalize;
       font-weight:900;
       border:4px solid black;
       text-align:center;
       cursor:pointer;""
    
}

